body {
    background:  #00B6C7;
    font-family: "Kumbh Sans", sans-serif;
}

.imgTop{
  position: inline;
  bottom: 300px;
  right: 300px;
}
.imgBottom {
  position: inline;
  top: 600px;
  left: 950px;

}

body {
  margin: 0;
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: -25% -600px, 175% 400px;
}
p {
  letter-spacing: 1px;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.pCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 8px 5px 15px #888888;
  text-align: center;
}
.backDrop{
  display: block;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profileP {
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -50px;

}
.name {
display: inline-block;
font-weight: 700;
font-size: 1.125rem;
}

.info {
  margin: 1.250rem 0;
}

.location {
  display: block;
  text-align: center;

  color: hsl(0, 0%, 59%);
  font-size: 1.125rem;
}

.age {
font-size: 1.125rem;
}

.grey, .age, .location {
  color: hsl(0, 0%, 59%);
}
.grey {
  font-size: 0.875rem;
  margin: 0;
  padding-bottom: 5px;
}

.black {
font-size: 1.125rem;
font-weight: 700;
margin-bottom: 0;
}

.row2 {
  display: flex;
  width: 100%;
}

.social{
  flex-flow: row wrap;
  flex: 3;
  text-align: center;
  padding-bottom: 10px;
}

.hr {
  color: #D3D3D3;
  border: 1px solid #969696;
  width: 100%;
}


p {
  margin: 5px auto 5px auto;
}
